body{
    background: #f8f9fa;
}

.container-fluid{
padding: 0 5%;
}

.full-center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}


/* Start Page */

.home-page .btn{
margin: 5% 0;
font-size: 1.5rem;
}

.home-page h1{
line-height: 5rem;
font-size: 5rem;
}

.home-page h2{
font-size: 2.5rem;
line-height: 5rem;
}

.home-buttons{
display: inline;
}



/* Navbar */
.navbar{
padding-bottom: 0;
}

.navbar-brand{
    margin: 0 2%;
    font-size: 2.5rem;
    font: bold;
}


 /* Nav's buttons */

.btn{
font-size: 1.5rem;
}

.btn:hover {
    color: #ced4da;
}

.nav-buttons{
text-align: center;
padding: 2% 0;
}


/* Nav's tabs */

.nav-tabs{
    width: 95%;
    height: 90vh;
    padding: 3% 7%;
}


/* Table */

.table-space{
    width: 60%;
}

.table-padding{
padding: 2% 0;
}


/* Quick Forms */

.quick-form-container h1{
font-size: 4rem;
}

.quick-form-container .btn{
margin: 6% 0;
}

.quick-form{
padding: 15% 0;
}

.quick-form .form-control{
margin: 0 0 2rem;
}

.quick-form .control-label{
font-size: 1.5rem;
}


/* Media Queries */
@media screen and (max-width: 992px) {


}