body{
    background: #f8f9fa;

}

.container-fluid{
padding: 0 5%;
}

/* Navbar */
.navbar{
padding-bottom: 0;
}

.navbar-brand{
    margin: 0 2%;
    font-size: 3rem;
}

 /* Nav's buttons */


.btn{
font-size: 1.5rem;
}

.btn:hover {
    color: #ced4da;
}

.nav-buttons{
text-align: center;
padding: 3% 0;
}

/* Nav's tabs */

.nav-tabs{
    width: 95%;
    height: 90vh;
    padding: 3% 7%;
}

/* Table */

.table-space{
    width: 60%;
}

.table-padding{
padding: 2% 0;
}

/* Login Page */

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.login-container .form-control{
margin: 0 0 2rem;
}

.login-container .control-label{
font-size: 1.5rem;

}

.login-container h1{
font-size: 4rem;
margin-bottom: 4rem;

}

/* Media Queries */
@media screen and (max-width: 992px) {


}