{% extends "bootstrap/base.html" %}

{% block title %}To Do List ;){% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="To Do List ">
  <meta name="author" content="RokerDev">
  <meta property="og:title" content="To Do List ">
  <meta property="og:type" content="website">
  <meta property="og:url" content="default server">
  <meta property="og:description" content="To Do List ">
  <meta property="og:image" content="image.png">
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap">
  <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}





