<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th class="table-space" scope="col">Task</th>
      <th scope="col">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="table-space">Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td class="table-space">Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td class="table-space">Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>